<html>
<head>
    <meta charset="UTF-8">
    <title>Tech Blog</title>
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="#">Dashboard</a>
    {{#if loggedIn}}
    <button id="logout">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
    <h1>Tech Blog</h1>
  </nav>  
  <main>
    <div>
      
    </div>
  </main>
</body>
</html>